<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mapp</title>
	<style type="text/css">
		/*#container {
			background-color: black;	
		}*/

		canvas {
			background-color: #ddd;
      border: solid 1px pink;
		}
	</style>
</head>
<body>
	<div id="container"></div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/windowResize.js"></script>
  <script src="js/socket.js"></script>
</body>
</html>
