<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mapp</title>
  <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="animate.min.css">
</head>
<body>

  <section id="intro">
  <p>We send thousands of tweets every second.</p>
  <p>Some are <span id="positive"><em>positive</em></span>, some are <span id="negative"><em>negative</em></span>.</p>
  <p>What if you could see them appear on a map, in real time?</p>
  <!--p>We took tweets in English, Spanish, French and Turkish and analyzed their emotional content</p>
  <p>(unemotional/unprocessed tweets stay blue)</p-->
  <p>Click the play button to start.</p>
  </section>

  <canvas id="map"></canvas>

  <section id="instructions">
    <p>Scroll to zoom. Drag to move around.</p>
  </section>

  <span id="tweetCount"><h1 id="tweetNumber">0 </h1>tweets</span>

  <button id="startConnection"></button>
  <button id="stopConnection"></button>
  <button id="reset"></button>
  <button id="fastSlow">Faster</button>
  <!--button id="slow">Slow</button-->

  <section id="about">
    <a href="#">About</a>
  </section>

  <!--<div class="timer">-->
    <!--<span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span>-->
  <!--</div>-->
  <section class="tweetStreamDisplay">
    <ul></ul>
  </section>


  <script src="/socket.io/socket.io.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/canvasSetup.js"></script>
  <script src="js/draw.js"></script>
  <script src="js/streamDisplay.js"></script>
  <script src="js/socket.js"></script>
  <script src="js/timer.js"></script>
  <script src="js/about.js"></script>
  <script src="js/mouseOver.js"></script>
</body>
</html>
