<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mapp</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	
  <canvas id="map"></canvas>
  
  <span id="tweetCount"><h1 id="tweetNumber"></h1>tweets</span>

  <button id="startConnection">&#9658;</button>
  <button id="stopConnection">&#9616;&#9616;</button>
  <button id="reset">&#9632;</button>

  <div class="timer">
    <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/socket.js"></script>
  <script src="js/timer.js"></script>
</body>
</html>