<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mapp</title>
  <link rel="stylesheet" href="css/reset.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/jquery.modal.css" type="text/css" media="screen" />
</head>
<body>

  <section id="tweetStreamDisplay">
    <ul></ul>
  </section>

  <section class="legend-container">
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <article class="legend"></article>
    <br clear="all">
    <label class="negative">Negative</label>
    <label class="neutral">Neutral</label>
    <label class="positive">Positive</label>
  </section>

  <section id="overlay-text">
    <p>We send thousands of tweets every second.</p>
    <p>Some are <span class="positive"><em>positive</em></span>, some are <span class="negative"><em>negative</em></span>.</p>
    <p>What if you could see a mood map of the world in real time?</p>
    <br>
    <p id="click-play">Click the play button to start.</p>
  </section>

  <canvas id="map"></canvas>

  <section id="about-modal" class="modal-display">
    <p>This is where we will have our about section. Maybe even the story behind it</p>
  </section>

  <section id="credits-modal" class="modal-display">
    <p>This is where we will have our credits section. Maybe even the story behind it</p>
  </section>

  <footer>
    <section id="instructions">
      <p>Scroll to zoom. Click and drag to move around.</p>
      <p>Click the tweet display to toggle speed.</p>
    </section>

    <section id="tweetCount"><h1 id="tweetNumber">0 </h1>tweets</section>

    <section id="about">
      <a href="#about-modal" rel="modal:open">About</a><br>
      <a href="#credits-modal" rel="modal:open">Credits</a>
    </section>

    <section id="transport">
      <button id="startConnection"></button>
      <button id="stopConnection"></button>
      <button id="reset"></button>
    </section>
  </footer>

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/canvasSetup.js"></script>
  <script src="js/draw.js"></script>
  <script src="js/streamDisplay.js"></script>
  <script src="js/socket.js"></script>
  <script src="js/timer.js"></script>
  <script src="js/about.js"></script>
  <script src="js/mouseOver.js"></script>
</body>
</html>
