<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mapp</title>
  <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	
  <section id="intro">
    <p>Click the play button to start.</p>
  </section>

  <canvas id="map"></canvas>

  <section id="instructions">
    <p>Scroll to zoom. Drag to move around.</p>
  </section>
  
  <span id="tweetCount"><h1 id="tweetNumber">0 </h1>tweets</span>

  <button id="startConnection"></button>
  <button id="stopConnection"></button>
  <button id="reset"></button>

  <section id="about">
    <a href="#">About</a>
  </section>

  <!--<div class="timer">-->
    <!--<span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span>-->
  <!--</div>-->

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/canvasSetup.js"></script>
  <script src="js/draw.js"></script>
  <script src="js/socket.js"></script>
  <script src="js/timer.js"></script>
</body>
</html>
