body {
  background-color: #031D34;
  font-family: Helvetica Neue;
  color: #FF8000;
}

#tweetNumber {
  font-size: 2em;
  margin: 0;
  display: inline;
}

#tweetCount {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}