body {
  background-color: #031D34;
  font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

.legend-container {
  width: 220px;
  float: right;
  margin-top: 1%;
  margin-right: 1%;
}

.legend {
  width: 20px;
  height: 20px;
  float: left;
}

label#negative {
  float: left;
}

label#neutral {
  color: #54A6E4;
  float: left;
  margin-left: 37px;
}

label#positive {
  float: right;
}

.legend-container label {
  font-size: 0.8em;
  margin-top: 5px;
}

.legend:nth-of-type(1) {
  background: #FF0000;
}

.legend:nth-of-type(2) {
  background: #FF3300;
}

.legend:nth-of-type(3) {
  background: #FF6600;
}

.legend:nth-of-type(4) {
  background: #FF9900;
}

.legend:nth-of-type(5) {
  background: #FFCC00;
}

.legend:nth-of-type(6) {
  background: #54A6E4;
}

.legend:nth-of-type(7) {
  background: #CBFF00;
}

.legend:nth-of-type(8) {
  background: #98FF00;
}

.legend:nth-of-type(9) {
  background: #65FF00;
}

.legend:nth-of-type(10) {
  background: #32FF00;
}

.legend:nth-of-type(11) {
  background: #00FF00;
}

#intro {
  width: 100%;
  text-align: center;
  transition: opacity 1.0s ease;
  padding-top: 10%;
  line-height: 20px;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 100;
}

#click-play {
  /*display: none;*/
  opacity: 0;
  transition: opacity 1.0s ease;
}

#instructions {
  line-height : 2.8em;
  margin-left: 20px;
  position: fixed;
}

#about {
  position: fixed;
  right: 20px;
  line-height: 2.8em;
}

#about a {
  color: #FFF;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

#about-modal { width: 400px;
  border-style: solid;
  border-color: black;
  border-width: medium;
  display: none;
  background-color: #031d34;
}

#tweetNumber {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  display: inline;
}

#tweetCount {
  color: #54A6E4;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}

#positive {
  color: #00FF00;
  font-weight: 300;
}

#negative {
  color: #FF0000;
  font-weight: 300;
}

button {
  border: solid 1px #54A6E4;
  background-color: rgba(0,0,0,0);
  border-radius: 4px;
  font-size: 1em;
  font-family: Helvetica Neue;
}

button:hover {
  border: solid 1px #FFF;
}

#transport {
  position: fixed;
  left: 0;
  right: 0;
  width: 120px;
  margin: 45px auto 0;
}

button:focus {
  outline: none;
}

#startConnection {
  float: left;
  background: url(../svg/ic_play_arrow_48px.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
}

#startConnection:hover {
  background: url(../svg/ic_play_arrow_48px_white.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

#stopConnection {
  margin-left: 15px;
  background: url(../svg/ic_pause_48px.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
}

#stopConnection:hover {
  background: url(../svg/ic_pause_48px_white.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

#reset {
  float: right;
  background: url(../svg/ic_stop_48px.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
}

#reset:hover {
  background: url(../svg/ic_stop_48px_white.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}

div.timer {
  width:190px;
  height:50px;
  line-height:50px;
  font-size:36px;
  font-family:"Courier New", Courier, monospace;
  text-align:center;
  margin:5px;
}

#tweetStreamDisplay {
  z-index: 2;
  width: 75%;
  height: 3.5em;
  overflow: hidden;
  margin-top: 1%;
  margin-left: 1%;
  position: fixed;
  opacity: 0.0;
  line-height: 1.2em;
  transition: opacity 0.2s ease-in;
}

#tweetStreamDisplay ul {
  list-style-type: none;
}

b {
  color: #54A6E4;
}
