body {
  background-color: #031D34;
}

h1 {
  color: #FF8000;
  font-family: Helvetica Neue;
  font-size: 2em;
  margin: 0;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}